*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
proguard/
*.log
.navigation/
captures/
*.iml
.gradle
/local.properties
.idea/
.externalNativeBuild
google-services.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

